 .ds-heading {
 	display: inline-block;
 	font-weight: 700;
 	color: #000;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	font-size: 16px;
 	border-bottom: 3px solid #F26464;
 	padding-bottom: 7px;
 	margin-bottom: 23px;
 }

 /*-----------------------------------------------------------------
  5. >>> Experience Style
----------------------------------------------------------------*/


 .ds-experience-list section {
 	padding-right: 70px;
 }

 .ds-experience-list {
 	padding-top: 15px;
 }

 .ds-officename {
 	font-size: 24px;
 	font-weight: 300;
 	margin-bottom: 10px;
 }

 .ds-experience-list span {
 	display: block;
 }

 span.ds-year {
 	color: #373737;
 	font-size: 14px;
 	font-weight: 700;
 	padding-bottom: 10px;
 }

 span.ds-department {
 	color: #373737;
 	font-weight: 500;
 	font-size: 18px;
 	padding-bottom: 30px;
 }

 .ds-experience-list p {
 	font-size: 16px;
 	line-height: 24px;
 	font-weight: 300;
 }

 .ds-experience-list ul {
 	list-style: none;
 	padding: 0;
 	margin: 0;
 	padding-top: 10px;
 }

 .ds-experience-list ul li {
 	font-size: 16px;
 	line-height: 24px;
 	font-weight: 300;
 	padding-left: 28px;
 	position: relative;
 	margin-bottom: 20px;
 }

 .ds-experience-list ul li:before {
 	content: "";
 	position: absolute;
 	left: 0;
 	top: 10px;
 	border-radius: 100%;
 	width: 8px;
 	height: 8px;
 	background-color: #373737;
 }

 /*-----------------------------------------------------------------
  4. >>> Skills Style
----------------------------------------------------------------*/
 .ds-skills-section {
 	padding-bottom: 105px;
 }

 .ds-skills-list {
 	list-style: none;
 	padding: 0;
 	margin: 0;
 	display: flex;
 	flex-wrap: wrap;
 	align-items: center;
 	margin-top: 11px;
 }

 .ds-skills-list li {
 	display: inline-block;
 	color: #373737;
 	font-size: 16px;
 	padding: 10px 20px;
 	background-color: #FFF;
 	border: 1px solid #D7D7D7;
 	border-radius: 27px;
 	margin-right: 15px;
 	margin-bottom: 15px;
 	font-weight: 500;
 }

 /*-------------------------------------------------------------------------------
 Responsive XS Style @media (max-width: 767px) 
-------------------------------------------------------------------------------*/
 @media (max-width: 768px) {



 	.ds-skills-section,
 	.ds-experience-section {
 		padding-left: 10px;
 		padding-right: 10px;
 	}


 	.ds-work-content-sec p,
 	.ds-work-content-sec li {
 		font-size: 15px;
 		line-height: 30px;
 		margin-bottom: 30px;
 	}

 	.ds-skills-list li {
 		margin-right: 10px;
 		margin-bottom: 10px;
 		font-size: 14px;
 	}
 	.ds-skills-list1 li {
 		margin-right: 10px;
 		margin-bottom: 10px;
 		font-size: 14px;
 	}

 	.ds-skills-section .col-12,
 	.ds-experience-list .col-12 {
 		margin-bottom: 40px;
 	}

 	.ds-skills-section,
 	.ds-work-section,
 	.ds-experience-section {
 		padding-bottom: 0;
 	}

 	.ds-experience-list section {
 		padding-right: 0;
 	}


 }




 .timeline {
 	border-left: 2px solid #E6E9ED;

 }

 .timeline-card {
 	position: relative;
 	margin-left: 31px;
 	border-left: 2px solid;
 	margin-bottom: 2rem;
 }

 .timeline-card:last-child {
 	margin-bottom: 1rem;
 }

 .timeline-card:before {
 	content: '';
 	display: inline-block;
 	position: absolute;
 	background-color: #fff;
 	border-radius: 10px;
 	width: 12px;
 	height: 12px;
 	top: 20px;
 	left: -41px;
 	border: 2px solid;
 	z-index: 2;
 }

 .timeline-card:after {
 	content: '';
 	display: inline-block;
 	position: absolute;
 	background-color: currentColor;
 	width: 29px;
 	height: 2px;
 	top: 25px;
 	left: -29px;
 	z-index: 1;
 }

 .timeline-card-primary {
 	border-left-color: #4A89DC;
 }

 .timeline-card-primary:before {
 	border-color: #4A89DC;
 }

 .timeline-card-primary:after {
 	background-color: #4A89DC;
 }

 .timeline-card-success {
 	border-left-color: #F26464;
 }

 .timeline-card-success:before {
 	border-color: #F26464;
 }

 .timeline-card-success:after {
 	background-color: #F26464;
 }

 html {
 	scroll-behavior: smooth;
 }










 